.App{
	width: 100%;
}


.App .cards{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	/* overflow: auto; */
}
.cart-body{
	display: none;
}
.cart-body-open{
	display: contents;
}
@media(min-width : 1000px){
    .App .wrapper-container{
        width: 65%;
		padding: 0 1.08rem;
    }
	.cart-body{
		width: 100%;
		display: contents;
	}
}