.Header{
    background: var(--primary-color);
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.08rem;
}

.Header .opt_cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: % 0; */
    /* border-radius: 50px; */
}
.Header .opt_cart:hover{
    background: #f56674;
    cursor: pointer;
}
.Header .opt_cart .qtd{
    padding-right: 8px;
}

@media(min-width : 1000px){
    .Header .opt_cart{
        display: none;
    }
}